.overlay-logo,
.logo {
  // background-color: rgba(250, 234, 214, .7);
  // border-radius: 80px;
  max-width: 200px;

  @include medq($break-m) {
    max-width: 350px;
  }
}

.image {
  background: url("../images/hair-cut.png") no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.salon_gallery {
  width: 250px;
  border: 4px solid $brand-green;
  border-radius: 4px;
  padding: 4px;
  margin: 6px;
}
