.hidden {
  height: 110px;
}
.main-nav {
  position: relative;
  height: 80px;
  @include medq($break-m) {
    display: none;
  }
}
.tablet-nav {
  width: 100%;
  top: 0;
  left: 0;
  margin: auto;
  padding: 10px 0;
  position: fixed;
  background-color: $background;
  z-index: 1000;
  @include flex($dir: row, $align: center, $just: center);
  & li {
    @include flex($dir: row, $align: center, $just: center);
    font-size: 0.75em;
    font-weight: 300;
    text-transform: uppercase;
    width: 100px;
    text-align: center;
    padding: 0 3px;
    height: 40px;
    border-right: 1px solid black;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    // @include medq($break-m) {
    //   font-size: 1.25em;
    //   width: 200px;
    //   display: none;
    // }
    &:last-child {
      border-right: none;
    }
    &:hover {
      background: #4d3f5c;
      color: white;
    }
  }
}

// .scroll {
//   background-color: $background;
//   // border-bottom: 1px solid darken($background, 10%);
//   z-index: 1000;
// }
