.parallax {
    background: url('../images/hair-cut.png') no-repeat center;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0px;
    opacity: .5;
  }