.parallax {
    background: url('../images/hair-modal.png') no-repeat center;
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-size: contain;
  }