// Colors

$white: #fff;
$black: #000;
$button-border: #8a8a8a;
$background: #e6e7e9;
$purple: #4d3f5c;
// $background: #f7f1ea;

// Media Breakpoints

$break-m: 768px;
$break-l: 1024px;

$max-width: 1200px;
