* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  // background-image: url("../images/background.png");
  // background-size: cover;
  background: $background;
  position: relative;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  @include flex($dir: column, $just: center, $align: center);
  height: 240px;
  width: 100%;
  position: relative;
  padding-top: 100px;
  margin-bottom: 60px;
}

main {
  height: 600px;
}

section {
  width: 90%;
  margin: 10px auto;
  height: 400px;
  position: relative;
  @include flex($just: center, $align: center);
}

/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
