* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  // background: url("../images/background-1.png") no-repeat;
  // background-size: cover;
  background: $background;
  position: relative;
  color: $purple;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  @include flex($dir: column, $just: center, $align: center);
  height: 160px;
  width: 100%;
  position: relative;
  @include medq($break-m) {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

main {
  width: 100%;
  @include flex($dir: column, $just: center, $align: center);
  @include medq($break-m) {
    @include flex($dir: row);
  }
}

section {
  position: relative;
  @include flex($just: center, $align: center);
}

footer {
  width: 80%;
  margin: 10px auto 0;
  @include flex($dir: column, $just: center, $align: center);
  border-top: 2px solid #768563;
  & p {
    text-align: center;
  }
}

a,
a:link,
a:visited {
  color: initial;
  text-decoration: none;
}
/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
