* {
  box-sizing: border-box;
}

body {
  font-size: 1em;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  // background: url("../images/background-1.png") no-repeat;
  // background-size: cover;
  background: $background;
  position: relative;
  color: $purple;
}

.container {
  max-width: 1200px;
  margin: auto;
}

header {
  @include flex($dir: column, $just: center, $align: center);
  height: 160px;
  width: 100%;
  position: relative;
  @include medq($break-m) {
    padding-top: 40px;
    margin-bottom: 40px;
  }
}

main {
  width: 100%;
  @include flex($dir: column, $just: center, $align: center);
  @include medq($break-m) {
    @include flex($dir: row);
  }
}

.haven_main {
  @include flex($dir: column, $just: center, $align: center);
  border-top: 1px solid $brand-green;
  width: 90%;
  margin: auto;
  padding: 20px 0px;
  & .gallery {
    @include flex($dir: column, $just: center, $align: center);
    @include medq($break-m) {
      @include flex($dir: row);
      flex-wrap: wrap;
    }
  }
  & p {
    text-align: center;
  }
  .phone {
    @include flex($dir: row, $just: center, $align: center);
    width: 90%;
    @include medq($break-m) {
      width: 30%;
    }
  }
}

.main_section_container {
  padding: 20px;
  @include medq($break-m) {
    @include flex($dir: row, $just: space-around);
  }
}

section {
  position: relative;
  @include flex($just: center, $align: center);
}

.services-section {
  @include flex($dir: column, $just: flex-start);
  background: $purple;
  outline: 4px solid $brand-green;
  outline-offset: 4px;
  color: $white;
  font-weight: 300;
  width: 90%;
  padding: 30px;
  margin: 20px auto;
  & p {
    line-height: 20px;
  }
  @include medq($break-m) {
    width: 40%;
  }
}

ul.services {
  width: 90%;
  & li {
    list-style-type: disc;
    margin: 6px;
  }
}

footer {
  width: 80%;
  margin: 10px auto 20px;
  @include flex($dir: column, $just: center, $align: center);
  border-top: 2px solid #768563;
  & p {
    text-align: center;
  }
}

a,
a:link,
a:visited {
  color: initial;
  text-decoration: none;
}

// hr {
//   border: 1px solid $brand-green;
//   width: 100%;
//   margin-bottom: 20px;
// }
/* ---- Float clearfix ---- */

.clearfix::after {
  content: " ";
  display: table;
  clear: both;
}
