h1 {
  text-transform: uppercase;
  margin: 0;
}

h4 {
  font-size: 1.25em;
  color: $white;
  font-weight: 400;
  text-align: center;
  @include medq($break-m) {
    font-size: 2em;
  }
}

.fab {
  font-size: 2em;
  color: $purple;
}
